{% extends 'base.html' %}
{% load static %}

{% block address %} {{ contacts.address }} {% endblock %}
{% block email %} {{ contacts.email }} {% endblock %}
{% block phone %} {{ contacts.phone }} {% endblock %}
{% block instagram_link %} {{ contacts.instagram_link }} {% endblock %}
{% block telegram_link %} {{ contacts.telegram_link }} {% endblock %}
{% block viber_link %} {{ contacts.viber_link }} {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/policy/policy.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Політика конфіденційності</h1>

        <p><strong>Останнє оновлення:</strong> [13.11.2023]</p>

        <p>Ваша конфіденційність для нас має велике значення. Ця політика конфіденційності пояснює, які особисті дані
            ми можемо збирати від вас, коли ви використовуєте наш веб-сайт і як ми використовуємо ці дані.</p>

        <h2>1. Збір та використання інформації</h2>

        <p>Ми можемо збирати різні типи інформації, коли ви взаємодієте з нашим сайтом, включаючи:</p>

        <p><strong>Особисті дані:</strong> Якщо ви звертаєтеся до нас для отримання послуг або інформації, ми можемо
            збирати особисті дані, такі як ваше ім'я, електронна пошта, телефонний номер та інша інформація, яка нам
            необхідна для надання вам послуг або відповіді на ваш запит.</p>

        <p><strong>Інформація про використання:</strong> Ми автоматично збираємо інформацію про те, як ви взаємодієте з
            нашим сайтом, включаючи інформацію про перегляд сторінок, дати та час відвідувань і подібне.</p>

        <h2>2. Використання інформації</h2>

        <p>Ми використовуємо зібрані дані для наступних цілей:</p>

        <p>- Надання вам запитаних послуг.</p>
        <p>- Покращення якості наших послуг та оптимізація роботи веб-сайту.</p>
        <p>- Зв'язок з вами, включаючи відправлення повідомлень та інформації, пов'язаної з вашим запитом.</p>

        <h2>3. Захист інформації</h2>

        <p>Ми вживаємо відповідних заходів безпеки для захисту ваших особистих даних від несанкціонованого доступу,
            втрати, використання або розголошення.</p>

        <h2>4. Розголошення інформації третім сторонам</h2>

        <p>Ми не розголошуємо ваші особисті дані третім сторонам, за винятком випадків, коли це необхідно для надання вам
            послуг або дотримання законних вимог.</p>

        <h2>5. Зміни у політиці конфіденційності</h2>

        <p>Ми можемо періодично оновлювати цю політику конфіденційності. Будь ласка, переглядайте цю сторінку для
            отримання останньої інформації про наші практики конфіденційності.</p>

        <h2>6. Зв'язок з нами</h2>

        <p>Якщо у вас є питання щодо цієї політики конфіденційності, будь ласка, зв'яжіться з нами.</p>
    </div>
{% endblock %}
