{% extends 'base.html' %}
{% load static %}

{% block address %}
    {{ contacts.address }}
{% endblock %}

{% block email %}
    {{ contacts.email }}
{% endblock %}

{% block phone %}
    {{ contacts.phone }}
{% endblock %}

{% block instagram_link %}
    {{ contacts.instagram_link }}
{% endblock %}

{% block telegram_link %}
    {{ contacts.telegram_link }}
{% endblock %}

{% block viber_link %}
    {{ contacts.viber_link }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/service/service.css' %}">
    <script src="{% static 'js/service.js' %}"></script>
{% endblock %}

{% block content %}

<h2>Причини звернутися до нас</h2>

<div class="small-talk">
    <div class="text-sections">
        <section>
            <p>Наші майстри мають великий досвід у сервісному обслуговуванні кондиціонерів.</p>
        </section>

        <section>
            <p>Наші фахівці готові відновити працездатність вашого кондиціонера, замінити деталі та усунути помилки монтажу.</p>
        </section>

        <section>
            <p>Ми надаємо консультації з експлуатації та самостійного обслуговування.</p>
        </section>

        <section>
            <p>Ми використовуємо тільки сучасне обладнання та передові технології для ефективного та безпечного обслуговування кондиціонерів.</p>
        </section>
    </div>

    <div class="image-section">
        <img src="{{ MEDIA_URL }}service/PhotoRoom-20231113_215321.png" alt="Фото сервісу" class="floating-image">
    </div>
</div>


<h2 class="page-title">ЦІНИ НА ОБСЛУГОВУВАННЯ</h2>

<ul class="service-list">
    {% if services %}
        {% for service in services %}
            <li class="service-item">
                <span>{{ service.service_name }}</span>
                <span>{{ service.service_price }}</span>
            </li>
        {% endfor %}
    {% else %}
        <li class="service-item">
            На даний момент ми не надаємо жодних послуг
        </li>
    {% endif %}
</ul>

<button class="cta-button" id="show-popup-button">Замовити послугу</button>

<div id="popup-container" class="popup">
    <div class="popup-content">
        <form method="post" action="{% url 'service' %}" id="order-form">
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="form-errors">{{ form.non_field_errors }}</div>{% endif %}
            <input type="text" name="name" id="name" placeholder="Ваше ім'я" class="input-field" value="{{ form.name.value|default:'' }}" required>
            {% if form.name.errors %}<div class="form-errors">{{ form.name.errors }}</div>{% endif %}
            <input type="text" name="phone" id="phone" placeholder="Ваш номер телефону" class="input-field" value="{{ form.phone.value|default:'' }}" required>
            {% if form.phone.errors %}<div class="form-errors">{{ form.phone.errors }}</div>{% endif %}
            <input type="text" name="address" id="address" placeholder="Ваша адреса" class="input-field" value="{{ form.address.value|default:'' }}" required>
            {% if form.address.errors %}<div class="form-errors">{{ form.address.errors }}</div>{% endif %}

            <fieldset class="form-fieldset">
                {% if form.services.errors %}<div class="form-errors">{{ form.services.errors }}</div>{% endif %}
                {% if services %}
                    {% for service in services %}
                        <label class="radio-label">
                            <input type="checkbox" name="services" value="{{ service.service_name }}">
                            <span>{{ service.service_name }}</span>
                        </label>
                    {% endfor %}
                {% else %}
                    <p>На даний момент ми не надаємо жодних послуг.</p>
                {% endif %}
            </fieldset>

            <button type="submit" class="submit-button">Відправити</button>
        </form>
        <button class="close-button" id="close-popup-button">Закрити</button>
    </div>
</div>
{% endblock %}
