{% load static %}

<div class="header-container">
    <header class="nav">
        <a href="{% url 'home' %}">
            <img src="{{ MEDIA_URL }}logos/ks_klimat_kh.PNG" alt="Logo">
        </a>

        <ul>
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Головна</a></li>
            <li class="nav-item"><a href="{% url 'catalog' %}" class="nav-link">Каталог</a></li>
            <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">Послуги</a></li>
            <li class="nav-item"><a href="{% url 'policy' %}" class="nav-link">Політика</a></li>

            {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">Адмін</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Вийти</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Вхід</a></li>
            {% endif %}
        </ul>
    </header>
</div>

